version: "3.8"

services:
  db:
    image: postgres:alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    healthcheck:
      # Checks if Postgres is actually ready to accept connections
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      # USE THIS: Maps to the internal 'postgres_data' volume defined at the bottom
      - postgres_data:/var/lib/postgresql/data
    attach: false

# Define the volume here so Docker manages it internally
volumes:
  postgres_data:
